*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.unity text eol=lf merge=unityyamlmerge -whitespace
*.prefab text eol=lf merge=unityyamlmerge -whitespace
*.asset text eol=lf merge=unityyamlmerge -whitespace
*.meta text eol=lf -whitespace
*.png binary
*.otf binary
